<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Baby Care</title>
</head>
<body>
    <!-- awal header -->
    <header id="home" class="header">
        <nav class="nav">
            <div class="nav_logo"><a href="#">Baby Care.</a></div>
            <div class="nav_bar" >
                <ul class="nav_links" id="navigationDrawer">
                    <li class="link"><a href="#home">Home</a></li>
                    <li class="link dropdown">
                        <a class="dropbtn">Stunting<i class="ri-arrow-down-s-line"></i></a>
                        <ul class="dropdown-content">
                            <li><a href="#antropometri">Antropometri</a></li>
                            <li><a href="#stuntingCalculate">Stunting Calculate</a></li>
                        </ul>
                    </li>
                    <li class="link"><a href="#gizi">Gizi</a></li>
                    <li class="link"><a href="#news">News</a></li>
                    <li class="link"><a href="#about">About Us</a></li>
                </ul>
            </div>            
            <div class="hamburger"><button id="hamburgerButton"><i class="ri-menu-fill" style="font-size: 1.5rem; color: white;"></i></button></div>
        </nav>
        
        <div class="section_container header_container">
            <h1>BABY CARE</h1>
            <h4>Panduan untuk sang bunda</h4>
            <a class="btn" href="#antropometri">Scroll Down<i class="ri-arrow-down-line"></i></a>
        </div>
    </header>
<!-- akhir header -->

    <main class="main" id="main">
        <!-- ini halaman Antropometri -->
        <section class="Antropometri" id="antropometri">
            <div class="section_container Antropometri_container pengukuran-antropometri open">
                <div class="Antropometri_content">
                    <h2 class="section_header">Cara Mengukur</h2>
                    <p class="section_subheader">
                        <ol>
                            <li>Persiapan Alat:
                                <ul>
                                    <li>Pastikan timbangan berada di permukaan yang datar dan stabil.</li>
                                    <li>Pastikan ukuran timbangan dimulai dari 0</li>
                                </ul>
                            </li>
                            <li>
                                Posisi Anak:
                                <ul>
                                    <li>Untuk anak di bawah 2 tahun, timbang anak dalam posisi telentang di atas timbangan bayi.</li>
                                    <li>Untuk 2 tahun ke atas, pastikan anak berdiri tegak di tengah timbangan dengan pakaian seminimal mungkin untuk akurasi maksimal.</li>
                                </ul>
                            </li>
                            <li>
                                Pengukuran:
                                <ul>
                                    <li>Bacalah berat badan anak yang ditampilkan pada timbangan.</li>
                                    <li>Catat hasil pengukuran dengan akurat.</li>
                                </ul>
                            </li>
                        </ol>
                    </p>
                    <div class="btn-ukur">
                        <button id="buttonAntropometri" type="button" class="btn">
                            Antropometri <i class="ri-arrow-left-line"></i>
                        </button>
                        <a class="btn" href="#stuntingCalculate">
                            Hitung Stunting <i class="ri-arrow-down-line"></i>
                        </a>
                    </div>
                </div>
                <div class="Antropometri_image">
                    <img src="./img/gambar3.png" alt="Antropometri">
                </div>
            </div>
            <div class="section_container Antropometri_container antropometri">
                <div class="Antropometri_content">
                    <h2 class="section_header">Antropometri</h2>
                    <p class="section_subheader">
                        Antropometri adalah suatu cabang ilmu yang mempelajari tentang dimensi tubuh manusia. Antropometri berasal dari 'antro' yang berarti manusia dan 'metri' yang mempunyai arti pengukuran. Oleh sebab itu, ilmu antropometri digunakan sebagai bidang yang akan membahas perihal pengukuran manusia secara fisik.
                    </p>
                    <button id="panduanPengukuran" type="button" class="btn">
                    Panduan Pengukuran <i class="ri-arrow-right-line"></i>
                    </button>
                </div>
                <div class="Antropometri_image">
                    <img src="./img/gambar2.png" alt="Antropometri">
                </div>
            </div>
        </section>
    <!-- ini akhir Antropometri -->

    <!-- ini halaman Stunting Calculate -->
    <section class="stunting-calculate" id="stuntingCalculate">
        <form class="form-stunting" id="stuntingTinggi">
            <div class="section_container stunting_container">
                <h2 class="section_header">Stunting Calculate</h2>
                <p class="section_subheader">
                    Hitung Stunting si kecil
                </p>
                <div class="stunting_form">
                    <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="text" id="nama" name="nama" placeholder="Nama">
                    </div>
                    <div class="form-group">
                        <label for="umur">Usia (0-60)</label>
                        <input type="number" min="0" max="60" id="umur" name="umur" placeholder="Bulan">
                    </div>
                    <div class="form-group">
                        <label for="tinggi">Tinggi</label>
                        <input type="text" id="tinggi" name="tinggi" placeholder="CM">
                    </div>
                    <div class="form-group radio">
                        <label>Jenis Kelamin</label>
                        <div>
                            <input type="radio" id="jk_lk" name="jk" value="lk">
                            <label for="jk_lk">Laki-Laki</label>
                        </div>
                        <div>
                            <input type="radio" id="jk_pr" name="jk" value="pr">
                            <label for="jk_pr">Perempuan</label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn_hitung" id="hitungStunting">Hitung</button>
            </div>
        </form>
        <div class="hasil" id="hasil"></div>
    </section>
    
    <!-- ini akhir Stunting Calculate -->

    <!-- ini halaman gizi -->
        <section class="gizi" id="gizi">
            <div class="section_container discover_container">
                <h2 class="section_header">Gizi yang baik</h2>
                <p class="section_subheader">
                    Temukan Gizi yang baik untuk sikecil
                </p>
                <div class="gizi_grid">
                    <div class="gizi_card">

                        <div class="gizi_image">
                            <img src="./img/gizi-image/gizi-image-1.jpg" alt="">
                        </div>
                        <div class="gizi_card_content">
                            <h4>Makanan</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto iste rerum commodi laudantium assumenda eius. Explicabo deserunt aspernatur
                        </p>
                        <button class="gizi_btn">
                            Info Gizi <i class="ri-arrow-right-line"></i>
                        </button>
                    </div>

                    <div class="gizi_card">
                        <div class="gizi_image">
                            <img src="./img/gizi-image/gizi-image-2.jpg" alt="">
                        </div>
                        <div class="gizi_card_content">
                            <h4>Makanan</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto iste rerum commodi laudantium assumenda eius. Explicabo deserunt aspernatur
                        </p>
                        <button class="gizi_btn">
                            Info Gizi <i class="ri-arrow-right-line"></i>
                        </button>
                    </div>

                    <div class="gizi_card">
                        <div class="gizi_image">
                            <img src="./img/gizi-image/gizi-image-3.jpg" alt="">
                        </div>
                        <div class="gizi_card_content">
                            <h4>Makanan</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto iste rerum commodi laudantium assumenda eius. Explicabo deserunt aspernatur
                        </p>
                        <button class="gizi_btn">
                            Info Gizi <i class="ri-arrow-right-line"></i>
                        </button>
                    </div>
                    <div class="gizi_card">
                        <div class="gizi_image">
                            <img src="./img/gizi-image/gizi-image-2.jpg" alt="">
                        </div>
                        <div class="gizi_card_content">
                            <h4>Makanan</h4>
                        </div>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto iste rerum commodi laudantium assumenda eius. Explicabo deserunt aspernatur
                        </p>
                        <button class="gizi_btn">
                            Info Gizi <i class="ri-arrow-right-line"></i>
                        </button>
                    </div>
                </div>

                <div class="gizi_btn_selengkapnya">
                    <button class="btn">
                        Gizi Lainnya <i class="ri-arrow-right-line"></i>
                    </button>
                </div>
            </div>
        </section>
    <!-- ini akhir halaman gizi -->

    <!-- ini halaman news -->
    <section class="news" id="news">
        <div class="section_container news_container">
            <h2 class="section_header">News</h2>
            <p class="section_subheader">
                Berita terbaru seputar kesehatan anak
            </p>
            <div class="news_grid">
                <div class="news_card">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1619407297/attached_image/bintik-merah-pada-kulit-bayi-yang-umum-terjadi-0-alodokter.jpg" alt="news"/>
                    <div class="news_content">
                        <a href="https://www.alodokter.com/bintik-merah-pada-kulit-bayi-yang-umum-terjadi" target="_blank"><h3 >Kenali Penyebab Bintik Merah pada Kulit Bayi dan Penanganannya</h3></a>
                        <h4>Bintik merah pada kulit bayi merupakan hal yang biasa terjadi. Kondisi ini umumnya tidak berbahaya dan dapat sembuh dengan sendirinya. Langkah penanganannya pun terbilang mudah</h4>
                        <div class="news_footer">
                            <a href="https://www.alodokter.com/bintik-merah-pada-kulit-bayi-yang-umum-terjadi" target="_blank"><p>Baca selengkapnya...</p></a>
                        </div>
                    </div>
                </div>

                <div class="news_card">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1608955297/attached_image/cermat-memandikan-bayi-0-alodokter.jpg" alt="news"/>
                    <div class="news_content">
                        <a href="https://www.alodokter.com/cermat-memandikan-bayi" target="_blank"><h3 >Cara Memandikan Bayi yang Wajib Diketahui Orang Tua</h3></a>
                        <h4>Cara memandikan bayi adalah salah satu kemampuan yang wajib dimiliki oleh setiap orang tua. Namun, tidak sedikit pasangan, terutama orang tua baru, yang masih merasa gugup ketika memandikan buah hatinya. Oleh karena itu,</h4>
                        <div class="news_footer">
                            <a href="https://www.alodokter.com/cermat-memandikan-bayi" target="_blank"><p>Baca selengkapnya...</p></a>
                        </div>
                    </div>
                </div>

                <div class="news_card">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1612165779/attached_image/8-cara-menenangkan-bayi-anda-0-alodokter.jpg" alt="news"/>
                    <div class="news_content">
                        <a href="https://www.alodokter.com/8-cara-menenangkan-bayi-anda" target="_blank"><h3 >Tak Perlu Panik, Inilah 8 Cara Menenangkan Bayi Menangis yang Tepat</h3></a>
                        <h4>Mendengar bayi menangis bisa membuat orang tua bingung, khawatir, atau bahkan panik. Untuk mengatasinya, ada cara menenangkan bayi menangis yang efektif dan dapat Bunda coba.</h4>
                        <div class="news_footer">
                            <a href="https://www.alodokter.com/8-cara-menenangkan-bayi-anda" target="_blank"><p>Baca selengkapnya...</p></a>
                        </div>
                    </div>
                </div>

                <div class="news_card">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1638536367/attached_image/teknik-dasar-mencegah-gumoh-pada-bayi-untuk-ibu-0-alodokter.jpg" alt="news"/>
                    <div class="news_content">
                        <a href="https://www.alodokter.com/teknik-dasar-mencegah-gumoh-pada-bayi-untuk-ibu" target="_blank"><h3 >5 Cara Mencegah Gumoh pada Bayi yang Penting untuk Diketahui</h3></a>
                        <h4>Gumoh pada bayi adalah salah satu kondisi yang normal dan sering terjadi. Meski tidak berbahaya, kondisi ini kerap menimbulkan rasa tidak nyaman pada bayi. Nah, ada beberapa cara mencegah bayi gumoh yang bisa orang tua lakukan.</h4>
                        <div class="news_footer">
                            <a href="https://www.alodokter.com/teknik-dasar-mencegah-gumoh-pada-bayi-untuk-ibu" target="_blank"><p>Baca selengkapnya...</p></a>
                        </div>
                    </div>
                </div>

                <div class="news_card">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1589095611/attached_image/ini-cara-menggendong-bayi-baru-lahir-0-alodokter.jpg" alt="news"/>
                    <div class="news_content">
                        <a href="https://www.alodokter.com/ini-cara-menggendong-bayi-baru-lahir" target="_blank"><h3 >Cara Menggendong Bayi Baru Lahir yang Benar dan Aman</h3></a>
                        <h4>Tidak sedikit orang tua yang takut, bahkan belum mengetahui cara menggendong bayi baru lahir dengan benar. Padahal, menggendong bayi yang baru lahir tidaklah sesulit yang dibayangkan. Menggendong bayi dapat memberikan beragam manfaat, seperti</h4>
                        <div class="news_footer">
                            <a href="https://www.alodokter.com/ini-cara-menggendong-bayi-baru-lahir" target="_blank"><p>Baca selengkapnya...</p></a>
                        </div>
                    </div>
                </div>

                <div class="news_card">
                    <img src="https://res.cloudinary.com/dk0z4ums3/image/upload/v1665993897/attached_image/tidak-perlu-takut-lagi-menggunting-kuku-bayimu-ikuti-saja-tips-ini-0-alodokter.jpg" alt="news"/>
                    <div class="news_content">
                        <a href="https://www.alodokter.com/tidak-perlu-takut-lagi-menggunting-kuku-bayimu-ikuti-saja-tips-ini" target="_blank"><h3 >5 Tips Memotong Kuku Bayi yang Aman</h3></a>
                        <h4>Mungkin tidak sedikit orang tua yang takut memotong kuku bayi, khususnya yang baru lahir. Memotong kuku bayi menjadi salah satu perawatan bayi yang tidak boleh dilewatkan. Kuku yang panjang rentan membuat bayi mengalami luka cakar akibat kebiasaan</h4>
                        <div class="news_footer">
                            <a href="https://www.alodokter.com/tidak-perlu-takut-lagi-menggunting-kuku-bayimu-ikuti-saja-tips-ini" target="_blank"><p>Baca selengkapnya...</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ini akhir halaman news -->


    <!-- ini text logo website -->
    <section class="hero">
            <div class="section_container hero_container">
                <p>Baby Care</p>
            </div>
    </section>
    <!-- ini akhir text logo webiste -->


    <!-- ini halaman about us -->
    <section class="about" id="about">
            <div class="about_container">
                <h2 class="section_header">Developer Team</h2>
                <p class="section_subheader">
                    Tim developer yang membuat website ini
                </p>
                <div class="about_grid">
                    <div class="about_card">
                        <img src="img/gallery-image/gallery-image-1.jpg" alt="about" />
                        <div class="about_content">
                            <h4>Krisna Rizki Pratma</h4>
                            <p>Take By Baby Care</p>
                        </div>
                    </div>

                    <div class="about_card">
                        <img src="img/gallery-image/gallery-image-2.jpg" alt="about" />
                        <div class="about_content">
                            <h4>Afif Rahman</h4>
                            <p>Take By Baby Care</p>
                        </div>
                    </div>

                    <div class="about_card">
                        <img src="img/gallery-image/gallery-image-3.jpg" alt="about" />
                        <div class="about_content">
                            <h4>Rhexy Pasha Dwi Olivia</h4>
                            <p>Take By Baby Care</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- ini akhir halaman about us -->


    </main>

<!-- ini halaman footer -->
   <footer class="footer">
        <div class="section_container footer_container">
            <h4>Baby Care.</h4>
            <div class="footer_socials">
                <span>
                    <a href="#"><i class="ri-whatsapp-line"></i></a>
                </span>
                <span>
                    <a href="#"><i class="ri-facebook-line"></i></a>
                </span>
                <span>
                    <a href="#"><i class="ri-instagram-line"></i></a>
                </span>
                <span>
                    <a href="#"><i class="ri-twitter-x-line"></i></a>
                </span>
            </div>
            <p>Pilihan terbaik untuk sang bunda</p>
            <ul class="footer_nav">
                <li class="footer_link"><a href="#home">Home</a></li>
                <li class="footer_link"><a href="#antropometri">Antropometri</a></li>
                <li class="footer_link"><a href="#stuntingCalculate">Stunting Calculate</a></li>
                <li class="footer_link"><a href="#gizi">Gizi</a></li>
                <li class="footer_link"><a href="#news">News</a></li>
                <li class="footer_link"><a href="#about">About Us</a></li>
            </ul>
        </div>
        <div class="footer_bar">
            <p>&copy; 2024 Baby Care. All rights reserved.</p>
        </div>
   </footer>
<!-- ini akhir halaman footer -->
</body>
</html>